---
import Body from '../components/Body.astro'
import Footer from '../components/Footer.astro'
import Layout from '../components/Layout.astro'
import Nav from '../components/Nav.astro'
---

<Layout title="home">
    <a href="/register">go register</a>
    <Nav />
    <Body />
    <Footer />
</Layout>
